#result{
	text-align: center;
}
#address{
	margin-left: -27%;
	font-size: 1.5em;
}

#card-image img{
	width: 555px;
	height: 300px;
}
#greeting{
	font-size: 1.3em;
    margin-left: -25%;
}
#card-body{
	width: 555px;
	margin-left: 29%;
	border-color: #e8ead3;
    border-width: 1px;
    text-align: left;
    padding-left: 5px;
}
#details{
	font-size: 1.1em;
	color: #979797;
}
#last_hit_on{
	color: #e0e0e0;
}
#place{
	display: none;
	color: #979797;
	font-size: 1.1em;
}
#place_url{
	text-decoration: none;
	color: #a6dcef;
	font-size: 1.1em;
}
