body{
	font-family: cursive;
}
#page1{
	min-height: 100vh;
	background-color: #7fdbda;
}
.person{
	border-radius: 50%;
	position: relative;
	left: 32vw;
	top: 2em;
	width: 320px;
	height: 320px;
	margin-right: 3em;
}
.cloud{
	color: #fff;
	transform: scale(8);
}
#cloud-1{
	position: relative;
	left: 10vw;

}
#cloud-2{
	position: relative;
	left: 80vw;
	top: 20vh;
}
#cloud-3{
	position: relative;
	left: 15vw;
	top: 60vh;
}
#page1-content{
	width: 50%;
	position: relative;
	top: 2vw;
	left: 36vw;
	font-family: cursive;
}
#name{
	font-size: 3em;
	font-weight: bolder;
}
#designation{
	font-size: 2em;
}
#page2{
	min-height: 100vh;
	text-align: center;
}
#page2 h1{
	font-family: cursive;
	font-weight: bold;
	margin-top: 10vh;
	margin-bottom: 1em;
}
.carousel-item img{ 
	height: 70vh;
}
.carousel-caption h5{
	color: #dc2ade;
	font-size: 2em;
	font-weight: bolder;
	font-family: cursive;
}
.carousel-caption p{
	color: #323edd;
	font-size: 1.5em;
	font-weight: bolder;
	font-family: cursive; 
}

#page3 h1{
	text-align: center;
	margin-bottom: 1em;
}
.card-img-top{
	height: 202px;
}

#page4{
	margin-top: 7em;
	margin-bottom: 4em;
}
.contact-form h1{
	text-align: center;
	margin-bottom: 1em;
}
.form-group{
	text-align: center;
}

footer{
	height: 5em;
	width: 100%;
	background-color: #000;
	text-align: center;
}
.list-item{
	display: inline;
/*	background-color: #fff;*/
	margin-left: 10px;
	width: 2em;

}
.icon{
	position: relative;
	top: 1.3em;
	color: #fff;
}
.icon i{
	width: 1.4em;
}
@media(max-width: 900px){
	.cloud{
		display: none;
	}
	.person{
	border-radius: 50%;
	position: relative;
	left: 20vw;
	top: -1em;
	width: 320px;
	height: 320px;
	margin-right: 3em;
}
	#name{
		font-size: 2.5em;
	}
	#designation{
		font-size: 1.5em;
	}
}