#logo{
	width: 150px;
	height: 70px;
}
.nav-item{
	margin-right: 1.5em;
	font-size: 1.2em;
}
.nav-item:hover{
	background-color: #9ddfd3;
	border-radius: 10px;
	transform: scale(1.1);
}
#coverPage{
	width: 100vw;
	height: 80vh;
	background-image: url('../images/coverImg.jpg');
	background-repeat: no-repeat;
	background-size: 100vw 80vh;
	color: #f1f6f9;
	text-align: center;
}
#coverHeader{
	padding-top: 1em;
	padding-bottom: 1em;
	text-decoration: underline;
	text-decoration-color: #d2f5e3;
	color: #fff;
	background-color: rgba(1, 1, 1, 0.4);

}
#coverSubHeader{
	padding-top: 2.5em;
}
.coverBtn{
	outline: none;
	margin-left: 4em;
	margin-right: 4em;
	position: relative;
	top: 3em;
	background-color: #d2f5e3;
	color: #000;
	border-style: none;
	border-radius: 10px;
}
.coverBtn:hover{
	cursor: pointer;
	background-color: transparent;
	color: #fff;
	transform: scale(1.1);
	border-style: solid;
}
#subDetail{
	background-color: #373a40;
	color: #fff;
	font-size: 1.3em;
	padding: 10px ;
	text-align: center;
}
#features{
	margin-top: 2.5em;

}
.featureHeading{
	text-align: center;
	text-decoration: underline;
}
.container{
	margin-top: 2em;
}
#inspirations{
	margin-top: 2.5em;
}
#inspirers{
	text-align: center;
	text-decoration: underline;
}
.toggle-btn{
	position: relative;
	top: 5.5em;
}
.prev-btn{
	text-align: right;
}
.next-btn{
	text-align: left;
}
.center-items{
	text-align: center;
}
.btn-lg{
	outline: none;
}
.testi-header{
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
	text-decoration: underline;
}
.testimonial-image{
	border-radius: 50%;
	position: relative;
	left: 24%
}
.testimonial-giver-detail{
	text-align: center;
}
.testi-btn{
	width: 50%;
	height: 50%;
	border-radius: 50%;
	transform: scale(0.5);
}
#footer{
	margin-top: 3em;
	background-color: #000;
	height: 5em;
	width: 100vw;
}